:root {
  --green: #0a3c4d;
  --light-green: #03bc9c;
  --white: #fff;
  --black: #000;
  --dark-gray: #393a3d;
  --light-gray:#d4d7dc;
  --navy: #1c638c;
  --blue: #1fa3b9;
  --red: #e04953;

  background: linear-gradient(to right, var(--navy), var(--light-green));
}