.categoriesListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesListItem__category-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.categoriesListItem__category-actions p {
  color: var(--white);
  margin: 5px 3px;
}

.categoriesListItem__category {
  color: var(--white);
  padding: 10px;
  background: var(--green);
  margin: 5px 0 0;
  border-top-left-radius: 10px; /* Adjust the value as needed */
  border-top-right-radius: 10px; /* Adjust the value as needed */
}

.categoriesListItem__category, .categoriesListItem__transaction-modal{
  width: 50vw;
  padding: 10px;
}

.categoriesListItem__category:hover {
  cursor: pointer;
  background: var(--green);
}

.categoriesListItem__transaction-modal {
  background-color: var(--white);
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px; /* Adjust the value as needed */
  background: var(--light-green);
}