.header, .header__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  /* padding: 10px 20px; */
  background-color: var(--green);
  /* position: fixed; */
  width: 100%;
  z-index: 1000;
}

.header__app-name, .header__user-info-text{
  color: var(--light-gray)
}

.header__app-name:hover {
  cursor: pointer;
}
